<header class="nav flex flex-row row py-2 mb-6 w-full border-b border-gray-300 dark:border-gray-700 justify-between">
  <div>
    <a class="no-underline p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800" id="home-link">Home</a>
    <a class="no-underline p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800" id="publications-link">Publications</a>
    <a class="no-underline p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800" id="achievements-link">Achievements</a>
  </div>
  <div>
    <a class="mr-4" href='{{ "search" | relLangURL }}'><i class="fas fa-search"></i></a>
    <i class="fas fa-sun theme-toggle text-blue-500 hover:text-blue-700 dark:text-yellow-300 dark:hover:text-yellow-500 cursor-pointer text-lg mr-9 sm:mr-0"
      onclick="lightDark(this)"></i>
    <a class="no-underline p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-800 cursor-pointer"
      onclick="toggleLanguage()" id="language-toggle">Language</a>
  </div>
</header>

<script>
  const lightDark = (el) => {
    const html = document.querySelector("html");
    if (html.classList.contains("dark")) {
      html.classList.remove("dark");
      el.classList.add("fa-moon");
      el.classList.remove("fa-sun");
      window.localStorage.setItem("theme", "light");
    } else {
      html.classList.add("dark");
      el.classList.add("fa-sun");
      el.classList.remove("fa-moon");
      window.localStorage.setItem("theme", "dark");
    }
  };

  function getCurrentLanguage() {
    return window.location.pathname.startsWith("/ja") ? "ja" : "en";
  }

  function toggleLanguage() {
    let basePath = window.location.pathname;
    const currentLanguage = getCurrentLanguage();

    if (currentLanguage === "ja") {
      basePath = basePath.replace(/^\/ja/, "");
    } else {
      basePath = "/ja" + basePath;
    }
    window.location.href = basePath;
  }

  function setLanguageLinks() {
    const currentLanguage = getCurrentLanguage();
    const homeLink = document.getElementById("home-link");
    const publicationsLink = document.getElementById("publications-link");
    const achievementsLink = document.getElementById("achievements-link");

    if (currentLanguage === "ja") {
      homeLink.href = "/ja/";
      publicationsLink.href = "/ja/publication-list";
      achievementsLink.href = "/ja/achievements";
    } else {
      homeLink.href = "/";
      publicationsLink.href = "/publication-list";
      achievementsLink.href = "/achievements";
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    setLanguageLinks();
    const langToggle = document.getElementById("language-toggle");
    langToggle.textContent = getCurrentLanguage() === "ja" ? "English" : "日本語";
  });
</script>